{{define "title"}}ENAHS | Projects{{end}}
{{define "content"}}
        <h1>Projects</h1>
        <a href="https://www.interviewquery.com">Interview Query</a>
        <p>
            Interview Query is an online adaptive learning platform focused on helping people get jobs in data professions. It has been likened to leetcode for data science.      

        </p>
        <a href="https://www.skada.io">Skada</a>
        <p>
            Skada is a B2B SaaS tool focused on streamlining commercial insurance applications and workflows.  in Swedish, skada refers to an insured event that has occurred and resulted in damage, loss, or injury.
        </p>
{{ end }}

